.product-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .heading {
    text-align: left; 
    font-size: 1.5rem;
    font-weight: bold;  
    text-transform: uppercase; 
    margin-bottom: 20px;
  }
  
  
  .error-message {
    color: red;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 sản phẩm mỗi hàng */
    gap: 20px;
    margin: 0 auto;
    padding: 0;
  }
  
  .product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-10px); /* Di chuyển lên một chút khi hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Tăng độ đổ bóng khi hover */
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 10px; /* Thêm khoảng cách giữa hình ảnh và viền */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
  }
  
  
  .product-details {
    padding: 15px;
  }
  
  .product-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-price {
    color: #e74c3c;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .product-origin,
  .product-description,
  .product-specs {
    font-size: 0.9rem;
    margin-bottom: 8px;
  }
  
  .product-specs li {
    margin: 5px 0;
  }
  
  .add-to-cart-btn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-btn:hover {
    background-color: #2980b9; /* Thay đổi màu khi hover */
  }
  
  @media (max-width: 1200px) {
    .product-list {
      grid-template-columns: repeat(4, 1fr); /* 4 sản phẩm mỗi hàng */
    }
  }
  
  @media (max-width: 992px) {
    .product-list {
      grid-template-columns: repeat(3, 1fr); /* 3 sản phẩm mỗi hàng */
    }
  }
  
  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: repeat(2, 1fr); /* 2 sản phẩm mỗi hàng */
    }
  }
  
  @media (max-width: 480px) {
    .product-list {
      grid-template-columns: 1fr; /* 1 sản phẩm mỗi hàng */
    }
  }
  